#root {
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

nav ul {
  display: flex;
  gap: 1em;
}

main {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light {
  background: white;
  color: black;
  color-scheme: light;
}

.dark, .dark button {
  background: black;
  color: white;
  color-scheme: dark;
}

#todos, #login {
  margin: auto;
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  margin-bottom: .2rem;
}

.todo-item *:nth-child(1) {

  padding: .2rem .5rem;
  width: 100%;
}

.complete {
  text-decoration: line-through;

}

.todo-item *:nth-child(2) {
  padding: .2rem .5rem;
  background-color: lightgrey;
}

input {
  margin: .2rem;
}

#todo-form {
  display: flex;
}